@page
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Configuration
@using W2.Localization

@inject IConfiguration Configuration;
@inject IStringLocalizer<W2Resource> L


@model W2.Web.Pages.LogConfig.IndexModel

@{
    var elsaServerUrl = Configuration["ElsaConfiguration:Server:BaseUrl"];
}

@{
    Layout = null;
}

@await Html.PartialAsync("_ElsaStyles")

<div>
    <h2>Server url</h2>
    <p>@elsaServerUrl</p>
    <h2>Instance id</h2>
    <p>@Model.WorkflowInstanceId</p>
    <h2>Config</h2>
    <p>@Configuration</p>
    <h2>Model</h2>
    <p>@Model</p>
</div>

@await Html.PartialAsync("_ElsaScripts")