@page
@using Microsoft.AspNetCore.Mvc.Localization
@using W2.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model W2.Web.Pages.WorkflowDefinitions.DefineWorkflowSettingModalModel

@inject IHtmlLocalizer<W2Resource> L

@{
    Layout = null;
}

<form method="post" asp-page="/WorkflowDefinitions/DefineWorkflowSettingModal">
    <abp-modal size="Large">
        <abp-modal-header title="Define Workflow Setting"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="WorkflowSettingDefinition.Id" type="hidden" />
            <abp-input asp-for="WorkflowSettingDefinition.WorkflowDefinitionId" type="hidden" /> 
                <div id="SettingContainer">
                    @if (Model.WorkflowSettingDefinition != null){

                        @if (Model.WorkflowSettingDefinition.Id.HasValue)
                        {
                            for (int i = 0; i < Model.WorkflowSettingDefinition.PropertyDefinitionViewModels.Count; i++)
                            {
                                <div class="row property-wrapper">
                                    <div class="col-4">
                                        <abp-input asp-for="WorkflowSettingDefinition.PropertyDefinitionViewModels[i].Key" class="property-name" />
                                    </div>
                                    <div class="col-4">
                                        <abp-select asp-for="WorkflowSettingDefinition.PropertyDefinitionViewModels[i].Value" class="property-type" />
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" style="width:100%;">&nbsp;</label>
                                            <button class="remove-row btn btn-danger" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row property-wrapper">
                                <div class="col-4">
                                    <abp-input asp-for="WorkflowSettingDefinition.PropertyDefinitionViewModels[0].Key" class="property-name" />
                                </div>
                                <div class="col-4">
                                    <abp-select asp-for="WorkflowSettingDefinition.PropertyDefinitionViewModels[0].Value" class="property-type" />
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" style="width:100%;">&nbsp;</label>
                                        <button class="remove-row btn btn-danger" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>       
            <abp-button id="AddSetting" button-type="Primary" icon="fa-solid fa-plus" text="Add Setting"></abp-button>
            <abp-button id="ClearSetting" button-type="Danger" icon="fa-solid fa-minus" style="margin-left:10px;" text="Clear All"></abp-button> 
            
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

